/** ------------------------------- BASE STYLE ----------------------------- **/
@default-font-size: 14px;

/** ------------------------------- MAIN COLOR ----------------------------- **/
@page-background: #f7f7f7;
@maycur-color: #3296FA;

/** ------------------------------- FORM COLOR ----------------------------- **/
@form-input-placeholder: #bbb;
@selected-background: #f0faff;
@drop-body-background: #fff9f9;

/** ------------------------------- TEXT COLOR ----------------------------- **/
@secondary-text-color: #666;

/** ------------------------------- PIN ----------------------------- **/
@pin-border-color: #ddd;
@pin-bg-color: #fafafa;